/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: 0 auto;
  width: clamp(375px, calc(375px + 0.494 * (100vw - 375px)), 696px);
  background-image:
    repeating-linear-gradient(0deg, transparent, #d3d3d3 2px),
    repeating-linear-gradient(90deg, transparent, #d3d3d3 2px),
    linear-gradient(#e7e7e7, #1a1a1a);
}

.card {
  background-color: white;
  border: var(--border);
  margin-bottom: 50px;
}

.card__title {
  font-family: Inter-Variable, sans-serif;
  font-variation-settings: 'wght' 700;
  font-size: 18px;
  line-height: 100%;

  margin: 3px 10px;
}

.card__picture {
  position: relative;
  overflow: hidden;
  border-top: var(--border);
  border-bottom: var(--border);
}

.card__image {
  display: block;
  width: 100%;
}

.card-image-2 {
  filter: grayscale(0.8);
}

.card-image-3 {
  filter: saturate(400%);
}

.card-image-4 {
  filter: hue-rotate(30deg);
}

.card-image-5 {
  filter: invert(79%)
}

.card-image-6 {
  filter: sepia(90%);
}

.card-image-7 {
  filter: blur(20px);
}

.card-image-8 {
  filter:
    hue-rotate(90deg)
    saturate(160%)
    contrast(40%)
    blur(2px);
}

.card__picture-title {
  position: absolute;
  top: 25px;
  right: 25px;

  font-family: PressStart2P-Regular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0 0 0 / 0.5);
}

@supports (-webkit-text-stroke: 1px white) {
  .card__picture-title {
    -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;

  font-family: Inter-Variable, sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 18px;
  line-height: 21px;
}

.header__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 364px;
  margin: 102px 0px;
  padding: clamp(120px, calc(120px + 0.01233 * (100vw - 375px)), 128px) 0;

  font-family: PressStart2P-Regular, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(49px, calc(49px + 0.024 * (100vw - 375px)), 65px);
}

.header__subtitle {
  font-size: clamp(14px, calc(14px + 0.013 * (100vw - 375px)), 23px);
}

.card__buttons {
  display: flex;
  justify-content: end;

  margin-right: 25px;
  margin-bottom: 25px;
  gap: 12px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding-top: 2px;
}

.button__text {
  font-family: PressStart2P-Regular, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;

  width: 335px;
  height: 55px;
  margin: 0 auto 105px auto;
  padding-left: 19px;
}

.button-save__icon {
  height: 21px;
  mix-blend-mode: difference;
}

.box-button {
  position: relative;
  color: white;
  fill: white;
  background-color: white;
  border: var(--border);
}

.box-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  height: 100%;
  background-color: black;
}

.box-button:hover::before {
  right: 0;
  transition: right 0.5s ease-in-out;
}

.dialog {
  padding: 30px;
  border: var(--border);
  font-family: PressStart2P-Regular, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__image-title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.zoom-image {
  transform: scale(calc(39px / 21px));
}

.screen__text {
  width: 234px;
  height: 63px;
}

.button__dialog {
  border: var(--border);
  background-color: transparent;
  width: 293px;
  height: 38px;
  margin-top: 30px
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
